*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* gör design för toppnav*/
#mainheader{
    background-color: #303434;
    width: 100%;
   
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px ;
}
.active{
    text-decoration: none;
    color: hsla(198, 5%, 59%, 0.941);
    text-shadow: 2px 4px 5px #4e6b68f0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    color: #e3e4e9;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #51a79df0;
}
.topnav a.icon {
    display: none;
   }

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    margin-left: 10%;
}
h2, h3, h4, h5, h6 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* ska lägga två container bredvid varandra */
.container{
    display: flex;
    flex-direction:row;
    justify-content:left;

}
/*lägga en container för att visa medlemmar */
.medlemmar{
background-color: hsla(198, 5%, 59%, 0.941);
padding-left: 30px;
padding-right: 40px;
border-radius: 40px;
margin-top: 50px;
margin-left: 10px;
height: auto;
}


/* gör design för form */
.label{
    padding-left: 50px;
    font-size: 17px;
  }
  p{
    font-size: 1.6rem;
    margin-left: 10%;
  }
  .användare {
    margin-top: 15px;
    margin-bottom: 24px;
    width: 600px;
    height: 50px;
    margin-left: 10%;
}
form {
    margin-top: 30px;
    font-size: 1.3rem;
}
.label {
  margin-left: 5%;
  font-size: 1.6rem;
}

.submit {
    width: 400px;
    height: 40px;
    background-color: #4e6b68f0;
    color: white;
    box-shadow: 2px 4px 20px #4e6b68f0;
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 20px;
}
.skapa-a{
    color: #3F403F;
    font-weight: 800;
}







/* gör design för profile page*/

.main-container{
  background-image: linear-gradient(to right, hsla(198, 5%, 59%, 0.941) , white, hsla(198, 5%, 59%, 0.941));
  border: 1px solid hsla(198, 5%, 59%, 0.941);;
  box-shadow: 0px 4px 4px #303434;
  border-radius: 20px;
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 50px;
  width: 70%;
  height: auto;
}


.out{
  width: 100%;
  height: 60px;
  background-color: hsla(198, 5%, 59%, 0.941);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.out p{
  padding-top: 20px;
  padding-left: 10%;
}

.out p a{
  color: black;
  font-size: medium;

  }

  .innehall{
    margin-top: 15px;
    margin-bottom: 24px;
    margin-left: 10%;
    width: 600px;
    height: 200px;
}
.error{
  color: red; 
  padding-top: 15px;
}

.tillagd{
  color: blue; 
  color: hsla(198, 18%, 18%, 0.941);
  padding-top: 20px;
}
.article{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  padding-bottom: 40px;
  width: auto;
  height: auto;
  box-shadow: 4px 4px 10px 4px #4e6b68f0;
  background-color: hsla(198, 5%, 59%, 0.941)
}
h3{
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1.5px;
  padding-top: 30px;
  padding-left: 50px;
}
.h4{
  color: black;
  font-size: 1.2em;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 50px;
}
.tid{
  color:rgb(87, 85, 85);
  font-size: 14px;
  padding-top: 12px;
  margin-left: 50px;
  padding-bottom: 15px;
}
.text{
  color: black;
  font-size: 1.2em;
  font-weight: 400;
  padding-top: 10px;
  padding-right: 50px;
}
.radera{
  width: 150px;
  height: 40px;
 background-color: #4e6b68f0;
box-shadow:2px 4px 20px #4e6b68f0;
padding-top: 5px;
margin-bottom: 20px;
margin-top: 20px;
}
.radera a{
color: black;
padding-left: 15%;
}
.radera a:link{
 text-decoration: none;
  }
.knappar{
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-top: 20px;
}
.hidden{
  display: none;
}







   @media (max-width:1100px){
    /* Style the navigation menu */
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
    
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
    
      .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 35px;
      }
     
      .topnav a:hover {
        background-color: #4e6b68f0;;
        color: black;
        text-shadow: 2px 4px 5px #0e1617f0;
      }

    }

